<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <%- include('../views/navbar'); %>
  <div class="container">
    <h1>About</h1>
    <p>Fullstack Internship Challenge 2024.</p>
    <p>Credits: Home Image by Image by <a href="https://www.freepik.com/free-vector/hand-drawn-cat-outline-illustration_22375790.htm#query=cat%20line%20art&position=1&from_view=keyword&track=ais&uuid=50371a26-3f8e-4a16-b9e3-9e5ef644aa40">Freepik</a></p>
  </div>
</body>
</html>

